<nav 
[style.backgroundColor]="bgColor"
class="navbar navbar-expand-md navbar-light ">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link " [routerLinkActiveOptions]="{ exact: true }" routerLink="" routerLinkActive="active current">Home <span class="sr-only">(current)</span></a>
      <a 
      [queryParams] ="{ page: 2, order: 'newest'}"
      class="nav-item nav-link" 
      routerLink="followers" 
      routerLinkActive="active current">Followers</a>
      <a class="nav-item nav-link" routerLink="posts" routerLinkActive="active current">Posts</a>
         
    </div>
  </div>
</nav>